.App {
  text-align: center;
  display: flex;
}

#Quadrado{
  display: flex;
  margin: 1%;
  width:  30vmax;
  height:  30vmax;
  border: 10px;
    
}

.Qdentro{
  width: 10vmax;
  height: 10vmax;


}
.qq{
  padding: 1px 1px;
  text-align: center;
  display: flow-root;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: blueviolet;
  width: 7.2vmax;
  height: 7.2vmax;
}

#btn{
  border-radius: 50px;
  margin-top: 20px;
 

}

#ctr{
margin-top: 400px;
padding: 10px;
float: left;
}
