.App {
  text-align: center;
  display: flex;
}

#Quadrado{
  display: flex;
  margin: 1%;
  width:  30vmax;
  height:  30vmax;
  border: 10px;
  padding: 0px 20px 10px 10px;  
}

.Qdentro{
  width: 10vmax;
  height: 10vmax;


}
.qq{
  padding: 1px 1px;
  text-align: center;
  display: flow-root;
  border: 0.5px solid white;
  border-radius: 4px;
  background-color: blueviolet;
  width: 7.2vmax;
  height: 7.2vmax;
}

#btn{
  border-radius: 10px;
  margin-top: 20px;
 

}

#ctr{
max-width: 150px;
max-height: 190px;
margin-left: 50px;
border: solid black;
}

#c{
  margin-left: 45px;
display: flex;
align-self: center;
padding: 1px 1px 1px 12px;
}


#b{
  padding: 1px 1px 1px 0px;
  }

